{%include "aheader.html" %}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
	<script language="javascript" type="text/javascript">

function popitup(url) {
	newwindow=window.open(url,'name','height=350,width=400');
	if (window.focus) {newwindow.focus()}
	return false;
}
</script>
</head>

				<div class="page-title">
					<div class="container">
						<h2>Complaints</h2>
					</div>
				</div>
			</header>
		</div>

<div class="fullwidth-block">
				<div class="container">
					<div class="row">
						<div class="col-md-6">



<table id="customers">
  <tr>
    <th> Complaint&nbsp;ID</th>
    <th>Child&nbsp;Name</th>
	  <th>City</th>
	    <th>LandMarks</th>
	    <th>Remarks</th>
    <th>Upload_by</th>
	   <th>Status</th>
    <th>Photo</th>


  </tr>
{%  for data in rawdata %}
	<tr><td><strong>{{data[7]}}</strong></td>
		<td><strong>{{data[0]}}</strong></td>
		<td><strong>{{data[1]}}</strong></td>
		<td><strong>{{data[2]}}</strong></td>
		<td><strong>{{data[3]}}</strong></td>
		<td><strong>{{data[5]}}</strong>({{data[6]}})</td>
		<td><strong>{{data[8]}}</strong></td>
		<td><strong><a href="" onclick="return popitup('http://127.0.0.1:5000/view_photo/{{data[7]}}')">View</a></strong></td>




</tr>

{% endfor %}

</table>
						</div>
						<br>



					</div>

				</div>

</div>



	<br>		<br>	<br>		<br>>	<br>		<br>

{%include "footer.html" %}